# R / system
.Rproj.user
.Rproj
.Rhistory
.RData
.Ruserdata
.DS_Store

# directories
data/
figures/
shiny_bookmarks/
job/
issues/
test/
reports/
release/
tmp/

# sensitive
password.rda

# latex
*.out
*.log
*.synctex.gz
*.aux
*.docx

# data files
*.csv
*.gps
*.gpx
*.xlsx
*.xls
*.rds
*.rda
*.pptx
status.txt

# hansen specific
get_remote_data_hj.sh
