# R / system
*.Rproj.user
*.Rproj
*.Rhistory
*.RData
*.Ruserdata
*.DS_Store

# directories
data/
shared/
static_map/
wrk/
tmp/
requests/*/
etc/

# sensitive
password.rda
src/get_sas_url.sh

# latex
*.out
*.log
*.synctex.gz
*.aux
*.docx

# data files
*.gps
*.gpx
*.xlsx
*.xls
*.rds
*.rda
*.pptx
restart.txt
status.txt
error_email.txt

